@use '../../sass/main.scss' as *;

.contactSection {
	width: 100vw;
	padding-top: pxToRem(87px);
	padding-bottom: pxToRem(106px);
	color: $text-dark-color;
	background-color: $bg-light-color;

	@include flexbox();
	@include align-items(center);
	@include justify-content(center);

	.contactLeft {
		width: 50%;

		.imgWrapper {
			max-width: 550px;
			text-align: center;
			@include underlay(underlayedImg, right);

			img {
				width: 100%;
				max-width: 480px;
				max-height: 717px;
			}
			.underlayedImg {
				max-height: 765px;
				max-width: 457px;
			}
		}
	}

	.contactRight {
		width: 50%;
		padding-right: pxToRem(30px);

		.contactFormWrapper {
			width: 100%;
			@include flexbox(column);
			@include align-items(center);
			@include justify-content(center);

			h2 {
				margin-bottom: 20px;
				max-width: pxToRem(572px);
			}
			p {
				margin-bottom: 50px;
				max-width: pxToRem(590px);
			}
			.highlight {
				color: $text-highlight-color;
			}
		}

		.feedback {
			text-align: center;
			@include flexbox(column);
			@include align-items(center);
			@include justify-content(center);

			img {
				max-width: 50px;
				max-height: 50px;
				margin-bottom: pxToRem(25px);
			}
			p {
				max-width: 590px;
				margin-bottom: pxToRem(100px);
			}
			.h1 {
				margin-bottom: pxToRem(50px);
			}
			&.error {
				color: $text-orange-color;
			}
		}
	}

	@include breakpoint('xl') {
		.contactLeft {
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);
		}
	}

	@include breakpoint('m') {
		.contactLeft {
			margin-bottom: 50px;
			
			.imgWrapper {
				.underlayedImg {
					right: -10%;
				}
			}
		}
		.contactRight {
			.contactFormWrapper {
				h2,
				p {
					max-width: 480px;
				}
			}
		}
	}

	@include breakpoint('s') {
		height: auto;
		@include flexbox(column-reverse);
		@include align-items(flex-start);

		.contactLeft {
			width: 100%;
			margin-top: 60px;

			.imgWrapper {
				.underlayedImg {
					right: -15px;
				}
			}
		}
		.contactRight {
			width: 100%;
			.contactFormWrapper {
				@include align-items(flex-start);
			}
		}
	}
}
