@use '../../sass/main.scss' as *;

.heroSection {
	width: 100vw;
	height: 100vh;

	@include flexbox;
	@include justify-content(space-around);
	@include align-items(center);
}

.heroLeft {
	width: 40%;

	.btnWrap {
		margin-top: pxToRem(249px);

		div {
			margin-right: pxToRem(10px);
		}
	}

	h1 {
		margin-top: pxToRem(37px);
		margin-bottom: pxToRem(12px);
	}

	button {
		margin-top: pxToRem(37px);
		margin-bottom: pxToRem(180px);
	}
}

.heroRight {
	width: 50%;
}

.imgWrapper {
	@include underlay(underlayedImg, 483px);
}

.highlight {
	color: $text-highlight-color;
}
