@use '../abstracts/' as *;

html {
	box-sizing: border-box;

	@include breakpoint('zero', 'min') {
		font-size: 9.4px !important;
	}
	@include breakpoint('xs', 'min') {
		font-size: 10px !important;
	}
	@include breakpoint('s', 'min') {
		font-size: 11px !important;
	}
	@include breakpoint('m', 'min') {
		font-size: 12px !important;
	}
	@include breakpoint('l', 'min') {
		font-size: 13px !important;
	}
	@include breakpoint('xl', 'min') {
		font-size: 14px !important;
	}
	@include breakpoint('xxl', 'min') {
		font-size: 16px !important;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html body {
	position: relative;
	color: $text-light-color;
	background: $bg-dark-color;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
	padding-top: pxToRem(40.47px);
}

body section {
	padding-left: pxToRem(103px);

	@include breakpoint('l') {
		padding-left: 40px;
	}
	@include breakpoint('m') {
		padding-left: 15px;
	}
	@include breakpoint('s') {
		padding-left: 25px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	@include roundBorder;
}

button {
	max-width: 250px;

	&:active {
		transform: scale(0.8);
	}
}

.hideOnSmall {
	@include breakpoint('s') {
		display: none;
	}
}

.showOnSmall {
	@include breakpoint('s') {
		display: block;
	}
}
