@use '../abstracts/' as *;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html body {
	position: relative;
	color: $text-light-color;
	background: $bg-dark-color;
	overflow-x: hidden;
	min-height: 100vh;
	min-width: 100vw;
	padding-top: pxToRem(40.47px);
}

body section {
	padding-left: pxToRem(103px);
}

a {
	text-decoration: none;
}

img {
	max-width: 640px;
    max-height: 573px;
	@include roundBorder;
}
