@use '../abstracts/' as *;

html body {
    position: relative;
	color: $text-light-color;
	background: $bg-dark-color;
	min-height: 100vh;
	min-width: 100vw;
	padding-top: 2.53rem;
}

a {
	text-decoration: none;
}
