@use './fonts' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

body {
	font-family: $main-font;
	font-weight: 400;
}

h1,
.h1 {
	font-family: $highlight-font;
	font-weight: 400;
	font-size: pxToRem(60px);
	line-height: 3.7425rem;

	@include breakpoint('s') {
		line-height: 40px;
	}
}

h2,
.h2 {
	font-family: $main-font;
	font-weight: 400;
	font-size: max(pxToRem(38px), 35px);
	line-height: 3.5rem;

	@include breakpoint('xs') {
		line-height: 42px;
	}
}

// smaller font for h2 class in heroSection
.heroSection .h2 {
	font-size: pxToRem(24px);
}

// bigger p font in ratingSection review
.customerRating .review {
	font-size: pxToRem(22px);
}

// smaller p font for customer details in ratingSection
.customerRating .customerDetails {
	p {
		font-size: pxToRem(18px);
		font-weight: 700;
	}
	.customerInfo {
		font-weight: 300;
	}
}

h3,
.h3 {
	font-family: $main-font;
	font-weight: 700;
	font-size: pxToRem(24px);
	line-height: 2.046rem;

	@include breakpoint('xs') {
		font-size: 25.5px;
	}
}

.customerRating h3 {
	@include breakpoint('s') {
		font-size: 15px;
		font-weight: 600;
	}
}

h4,
.h4 {
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(23px);
}

h5,
.h5 {
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(20px);
}

p,
.p {
	font-family: $main-font;
	font-weight: 400;
	font-size: max(pxToRem(20px), 16px);
	line-height: max(1.843rem, 24px);
}

p.pTiles {
	font-size: pxToRem(18px);

	@include breakpoint('xs') {
		font-size: 19px;
	}
}

ul {
	font-size: max(pxToRem(20px), 16px);
	line-height: max(1.843rem, 24px);
}

.heroDetailsP {
	@include breakpoint('xs') {
		font-size: 11px;
	}
}

.customerRating .review {
	@include breakpoint('s') {
		font-size: 10px;
	}
}
.customerRating .customerDetails p {
	@include breakpoint('s') {
		font-size: 10px;
		line-height: 12px;
	}
}

// Links in Navbar
nav ul li {
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(23px);
}

button {
	font-family: $main-font;
}

button.button{
	font-size: 18px;
	font-weight: 700;
}

button.bigBtn {
	font-size: pxToRem(24px);
}

footer .scrollTopBtnWrap button{
	font-size: pxToRem(17px);
}

.buttonShaped{
	font-size: 14px;
}

input {
	font-size: pxToRem(24px);
}

.couponHighlight {
	font-weight: 900;
	font-size: pxToRem(30px);
}

.feedback {
	p {
		font-size: 30px;
		line-height: 48px;
		font-weight: 600;
	}
	p.h1 {
		font-family: $main-font;
		font-size: 58px;
		font-weight: 700;
	}
}

.contactButton a .text{
	font-size: pxToRem(18px);
	font-weight: 700;
}