@use './fonts' as *;
@use '../abstracts/functions' as *;

body {
	font-family: $main-font;
	font-weight: 400;
}

h1,
.h1 {
	font-family: $highlight-font;
	font-weight: 400;
	font-size: pxToRem(60px);
	line-height: 3.7425rem;
}

h2,
.h2 {
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(38px);
	line-height: 3.5rem;
}

// smaller font for h2 class in heroSection
.heroSection .h2 {
	font-size: pxToRem(24px);
}

// bigger p font in ratingSection review
.customerRating .review {
	font-size: pxToRem(22px);
}

// smaller p font for customer details in ratingSection
.customerRating .customerDetails {
	p {
		font-size: pxToRem(18px);
		font-weight: 700;
	}
	.customerInfo {
		font-weight: 300;
	}
}

h3,
.h3 {
	font-family: $main-font;
	font-weight: 700;
	font-size: pxToRem(24px);
	line-height: 2.046rem;
}

h4, .h4{
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(23px);
}

h5, .h5{
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(20px);
}

p,
.p {
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(20px);
	line-height: 1.843rem;
}

p.pTiles {
	font-size: pxToRem(18px);
}

// Links in Navbar
nav ul li {
	font-family: $main-font;
	font-weight: 400;
	font-size: pxToRem(23px);
}

button {
	font-family: $main-font;
}

button.bigBtn {
	font-size: pxToRem(24px);
}

input{
	font-size: pxToRem(24px);
}
