// Colors
$bg-light-color: rgba(255, 243, 233, 1);
$bg-dark-color: radial-gradient(50% 50% at 50% 50%, #4a6d6a 0%, #343f3e 100%);
$text-navbar-color: rgba(220, 237, 255, 1);
$text-highlight-color: rgba(188, 140, 101, 1);
$text-light-color: rgba(255, 255, 255, 1);
$icon-blur-color: rgba(188, 140, 101, 0.3);

//Breakpoints
$breakpoints: (
	'xsmall': 320px,
	'small': 576px,
	'medium': 768px,
	'large': 992px,
	'xlarge': 1200px,
);
