@use '../../sass/main.scss' as *;

.button {
	display: inline-block;
	padding: 8px 34px;
	font-size: pxToRem(18px);
	font-weight: 700;
	border: none;
	cursor: pointer;
	@include roundBorder;
}
.buttonShaped {
	display: inline-block;
	padding: 8px 19px;
	font-size: pxToRem(14px);
	color: $text-darkBtn-color;
	border: 1px solid $text-greygreen-color;
	
	@include roundBorder;
}

.light {
	color: $text-lightBtn-color;
	background-color: $bg-lightBtn-color;
}

.dark {
	color: $text-darkBtn-bright-color;
	background: $bg-darkBtn-color;
}

.bigBtn{
	padding: 7px 55px;
}