@use '../../sass/main.scss' as *;

.button {
	display: inline-block;
	padding: 8px 34px;
	border: none;
	cursor: pointer;
	transition: transform 200ms ease;
	@include roundBorder;

	&:hover {
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.9);
	}
}

.buttonShaped {
	display: inline-block;
	min-height: 33px;
	padding: 8px 19px;
	color: $text-darkBtn-color;
	border: 1px solid $text-greygreen-color;

	@include roundBorder;

	@include breakpoint('m') {
		padding: 8px 11px;
	}

	@include breakpoint('s') {
		padding: 8px 19px;
	}
}

.light {
	color: $text-lightBtn-color;
	background-color: $bg-lightBtn-color;
}

.dark {
	color: $text-darkBtn-bright-color;
	background: $bg-darkBtn-color;
}

.bigBtn {
	padding: 7px 55px;
}
