@use '../../sass/main.scss' as *;

.aboutTile {
	max-width: 300px;
	max-height: 310px;
	width: pxToRem(300px);
	height: pxToRem(310px);
	background-color: $bg-components-light-color;
	padding: pxToRem(49px) pxToRem(28px) pxToRem(30px);
	@include roundBorder;
	@include flexbox(column);
	@include align-items(center);
	@include justify-content(space-between);

	.imgWrap {
		position: relative;
		width: pxToRem(85px);
		height: pxToRem(85px);
		text-align: center;
		border-radius: 50%;
		margin-bottom: pxToRem(23px);
		@include flexbox(column);
		@include align-items(center);
		@include justify-content(center);

		.imgBlur {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			position: absolute;
			filter: blur(4px);
			background-color: $icon-blur-color;
			z-index: 1;
			opacity: 30%;
		}

		img {
			z-index: 2;
			max-width: 40px;
		}
	}
	.title {
		margin-bottom: pxToRem(8px);
	}
	p {
		text-align: center;
	}
}
