@use '../../sass/main.scss' as *;

.customerRating {
	height: pxToRem(537px);
	max-width: 589px;
	max-height: 537px;
	padding: pxToRem(35px);
	border: 2px solid $border-dark-color;
	background: $bg-customerRating-color;
	@include flexbox(column);
	@include roundBorder;

	.ratingWrapper {
		margin-top: pxToRem(10px);
		margin-bottom: pxToRem(30px);
		img {
			max-width: 22px;
			max-height: 22px;
			margin-right: 6px;
		}
	}

	.review {
		line-height: 32px;
	}

	.customerDetails {
		margin-top: auto;
		.customerName {
			text-transform: capitalize;
		}
	}

	@include breakpoint('xl') {
		height: pxToRem(600px);
	}
	@include breakpoint('l') {
		height: pxToRem(900px);
	}
	@include breakpoint('m') {
		height: pxToRem(900px);
	}
	@include breakpoint('s') {
		max-height: 243px;
		max-width: 267px;

		.ratingWrapper {
			margin-bottom: 13px;
			img {
				max-width: 14px;
				max-height: 14px;
			}
		}
		.review {
			line-height: 16px;
		}
	}
}
