@use '../../sass/main.scss' as *;

.contactButton {
	width: pxToRem(50px);
	height: pxToRem(50px);
	padding: 10px 12px;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	max-width: 260px;
	background: $bg-darkBtn-color;
	border: none;
	z-index: 10;
	cursor: pointer;
	border-radius: 50%;
	transition: width 300ms ease, border-radius 300ms ease;

	a {
		width: 100%;
		height: 100%;
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);

		img {
			width: pxToRem(30.33px);
			height: pxToRem(26.59px);
		}
	}

	&:active {
		transform: scale(0.8);
	}
	
	&.lightTheme {
		background: $bg-light-color;
		img {
			filter: invert(20%) sepia(10%) saturate(100%) hue-rotate(125deg) brightness(0%)
				contrast(50%);
		}
		&:hover {
			::before {
				color: $text-dark-color;
			}
		}
	}

	@include breakpoint(900, min){
		&:hover {
			width: 100%;
			border-radius: 10px;
			transition: width 300ms ease, border-radius 300ms ease;
		::before {
			content: 'Schreiben Sie uns!';
			margin-right: 18px;
			color: $text-light-color;
		}
	}
	}
}
