@use '../../sass/main.scss' as *;

.contactButton {
	height: pxToRem(50px);
	padding: 2px 7px;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	max-width: 260px;
	background: $bg-darkBtn-color;
	border: none;
	z-index: 10;
	cursor: pointer;
	border-radius: 10px;
	transition: width 300ms ease, border-radius 300ms ease;

	a {
		width: 100%;
		height: 100%;
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);

		.text {
			color: $text-light-color;
			white-space: nowrap;
			width: 0;
			overflow: hidden;
			margin-right: 0;
			transition: width 300ms, margin 300ms;
		}

		img {
			width: pxToRem(30.33px);
			height: pxToRem(26.59px);
		}
	}

	&:active {
		transform: scale(0.8);
	}

	&.lightTheme {
		background: $bg-light-color;
		img {
			filter: invert(20%) sepia(10%) saturate(100%) hue-rotate(125deg) brightness(0%)
				contrast(50%);
		}
		&:hover {
			a {
				.text {
					color: $text-dark-color;
				}
			}
		}
	}

	@include breakpoint(900, min) {
		&:hover {
			a {
				.text {
					margin-right: 10px;
					width: pxToRem(140px);
				}
			}
		}
	}
}
