.contactButton {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	max-width: 100px;
	background-color: inherit;
	border: none;
	z-index: 10;
	transform: scale(-1, 1);
	cursor: pointer;
	border-radius: 50%;
	img {
		width: 100%;
	}
	:active {
		transform: scale(0.8);
	}
}
