@use '../../sass/main.scss' as *;

.contactForm {
	width: 100%;
	max-width: 590px;
	color: $text-dark-color;
	@include flexbox(column);
	@include align-items();
	@include justify-content(center);

	input,
	textarea {
		max-width: 562px;
		border-radius: 10px;
		border: none;
		padding: 0 10px;
	}

	textarea {
		padding: 10px;
	}

	input {
		height: 50px;
	}
	label {
		margin-top: 6px;
		margin-bottom: pxToRem(30px);
		margin-left: 10px;
	}

	.checkboxWrapper {
		input,
		label {
			cursor: pointer;
		}
		input {
			width: 18px;
			height: 18px;
			margin-top: 6px;
			margin-bottom: pxToRem(30px);
		}
	}

	.btnWrapper {
		width: 100%;
		text-align: center;
		margin-top: 20px;
		transition: opacity 500ms ease;
	}

	.btnWrapper.disabled button {
		opacity: 0.5;
		cursor: not-allowed;
		transition: opacity 500ms ease;

		&:hover {
			transform: scale(1);
		}
	}

	.phoneNumberElement {
		opacity: 0;
		transition: opacity 300ms ease-out;
	}

	.phoneNumberElement.active {
		opacity: 1;
	}

	@include breakpoint('m') {
		.btnWrapper {
			text-align: start;
		}
	}
}
