@use '../../sass/main.scss' as *;

.contactForm {
	color: $text-dark-color;
	@include flexbox(column);
	@include align-items();
	@include justify-content(center);

	input, textarea{
		max-width: 562px;
		border-radius: 10px;
		border: none;
	}

	input{
		height: 50px;
		font-size: 24px;
	}
	label{
		margin-top: 6px;
		margin-bottom: pxToRem(30px);
		margin-left: 10px;
	}
}
