@use '../../sass/main.scss' as *;

.navbar {
	width: 100%;
	@include flexbox;
	@include justify-content(space-around);

	img {
		max-width: 163px;
	}

	ul {
		width: 60%;
		@include flexbox;
		@include align-items(center);
		@include justify-content(space-between);
	}

	a {
		position: relative;
		color: $text-navbar-color;
		transition: color 600ms ease;
		&:visited {
			color: $text-navbar-color;
		}
	}

	a.activeLink {
		color: $text-highlight-color;
		font-weight: 700;
	}

	.unactiveLink::before {
		position: absolute;
		content: attr(data-content);
		top: 1px;
		left: 0px;
		overflow: hidden;
		color: $text-highlight-color;
		transition: width 300ms ease;
		width: 0;
		white-space: nowrap;
	}

	.unactiveLink:hover::before {
		width: 100%;
	}

	.unactiveLink:hover {
		color: $text-highlight-color;
	}

	@include breakpoint('m') {
		ul {
			display: none;
		}
	}

	@include breakpoint('xs') {
		img {
			max-width: 76px;
		}
	}
}
