@use '../../sass/main.scss' as *;

.navbar {
	width: 100%;
	@include flexbox;
	@include justify-content(space-around);

	img {
		max-width: 163px;
	}

	ul {
		width: 60%;
		@include flexbox;
		@include align-items(center);
		@include justify-content(space-between);
	}
	a {
		color: $text-navbar-color;
		&:visited {
			color: $text-navbar-color;
		}
	}
	a.active {
		color: $text-highlight-color;
		font-weight: 700;
	}

	@include breakpoint('m') {
		ul {
			display: none;
		}
	}

	@include breakpoint('xs') {
		img {
			max-width: 76px;
		}
	}
}
