@use '../../sass/main.scss' as *;

.navbar {
	width: 100%;
	position: absolute;
	left: 0;
	@include flexbox;
	@include justify-content(space-around);

	ul {
		width: 60%;
		@include flexbox;
		@include align-items(center);
		@include justify-content(space-between);
	}
	a {
		color: $text-navbar-color;
		&:visited {
			color: $text-navbar-color;
		}
	}
	a.active {
		color: $text-highlight-color;
		font-weight: 700;
	}
}
