@use '../../sass/main.scss' as *;

.ratingSection {
	width: 100vw;
	padding-top: pxToRem(55px);
	padding-bottom: pxToRem(80px);
	h2 {
		margin-bottom: pxToRem(81px);
		.highlight {
			color: $text-highlight-color;
		}
	}

	.ratingsWrap {
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		row-gap: pxToRem(47px);
		column-gap: pxToRem(36px);
	}

	@include breakpoint ('s'){
		.ratingsWrap{
			width: 100%;
			display: block;
		}
	}

	@include breakpoint ('xs'){
		h2{
			max-width: 280px;
		}
	}
}
