@use '../../sass/main.scss' as *;

.aboutSection {
	width: 100vw;
	background-color: $bg-light-color;
	color: $text-dark-color;
	padding-bottom: pxToRem(136px);
	padding-right: pxToRem(90px);
	@include flexbox(column);
	@include align-items(center);

	h2 {
		color: $text-darkgreen-color;
		.highlight {
			color: $text-highlight-color;
		}
	}

	.firstRow {
		height: 50%;
		width: 100%;
		@include flexbox;
		@include align-items(center);

		.firstRowLeft {
			width: 50%;
			margin-right: pxToRem(70px);

			.imgWrapper {
				margin-top: -2rem;
				@include underlay(underlayedImg, $portrait: true);
			}
		}

		.firstRowRight {
			width: 50%;
			@include flexbox(column);
			@include justify-content(space-between);

			h2 {
				margin-top: pxToRem(70px);
			}

			p {
				margin-top: pxToRem(34px);
				max-width: pxToRem(630px);
			}

			button {
				margin-top: pxToRem(51px);
			}
		}
	}

	.secondRow {
		width: 100%;
		height: auto;
		max-width: 1100px;
		margin-top: pxToRem(140px);
		display: -ms-grid;
		display: grid;
		justify-items: center;
		-ms-grid-columns: 1fr 10px 1fr 10px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: pxToRem(74px);
		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
		column-gap: 10px;
	}

	@include breakpoint('l') {
		padding-right: pxToRem(40px);
	}

	@include breakpoint('m') {
		padding-right: pxToRem(15px);
		.secondRow {
			justify-items: center;
			-ms-grid-columns: 1fr 10px 1fr 10px;
			grid-template-columns: 1fr 1fr;
			row-gap: pxToRem(74px);
			-webkit-column-gap: 10px;
			-moz-column-gap: 10px;
			column-gap: 10px;
		}
	}

	@include breakpoint('s') {
		.firstRow {
			@include flexbox(column);
			@include align-items(flex-start);

			.firstRowLeft {
				.imgWrapper {
					margin-top: 4rem;
					width: 100%;
				}
			}

			.firstRowRight {
				width: 100%;
				h2 {
					max-width: 300px;
				}
			}
		}
	}

	@include breakpoint('xs') {
		.firstRow {
			.firstRowRight {
				max-width: 325px;
			}
		}

		.secondRow {
			justify-items: flex-start;
			-ms-grid-columns: 1fr 10px;
			grid-template-columns: 1fr;
		}
	}
}
