@use '../../sass/main.scss' as *;

.footer {
	width: 100vw;
	height: 30vh;
	padding-top: pxToRem(60px);
	padding-bottom: pxToRem(47px);
	padding-right: pxToRem(159px);
	padding-left: pxToRem(136px);

	@include flexbox();
	@include justify-content(space-between);

	h4 {
		color: $text-navbar-color;
		margin-bottom: pxToRem(26px);
	}

	.contactDetails {
		width: 60%;
		@include flexbox();
		@include align-items();
		@include justify-content(space-between);

		h5 {
			margin-bottom: 10px;
		}
		.address {
			margin-right: pxToRem(100px);
		}
		.mail {
			border-bottom: 1px solid white;
			white-space: nowrap;
		}
	}

	.links {
		width: 20%;
		align-self: flex-end;
		@include flexbox(row);
		@include justify-content(space-between);
	}

	@include breakpoint('xl') {
		padding-left: pxToRem(100px);
		padding-right: pxToRem(120px);
	}

	@include breakpoint('l') {
		.links {
			width: 25%;
		}
	}

	@include breakpoint('m') {
		height: auto;

		.links {
			width: 30%;
		}
	}

	@include breakpoint('s') {
		padding-left: 25px;
		@include flexbox(column);
		.contactDetails{width: 100%;}
		.links {
			width: 40%;
		}
	}

	@include breakpoint('xs') {
		padding-left: 15px;

		.contactDetails{.address{margin-right: 35px;}}
		.links {
			width: 50%;
		}
	}
}
